---
import Button from "../../components/Button.astro";

type Translations = typeof import("../../i18n/en").default;
type HeroContent = Translations["about"]["hero"];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section class="w-full flex items-center justify-center relative overflow-hidden">
  <img
    src={`/images/${content.image}.webp`}
    alt={content.title}
    width="2100"
    height="1358"
    class="hidden sm:block absolute inset-0 w-full h-full object-cover object-[50%_50%] -z-20"
    loading="eager"
    decoding="async"
  />
  <img
    src={`/images/${content.imagePhone}.webp`}
    alt={content.title}
    width="375"
    height="812"
    class="block sm:hidden absolute inset-0 w-full h-full object-cover object-[50%_50%] -z-20"
    loading="eager"
    decoding="async"
  />
  <div
    class="w-full max-w-screen md:max-w-7xl flex flex-row justify-center sm:justify-start items-end sm:items-center px-5 xl:px-0 h-dvh md:h-[90vh] lg:h-screen pb-10 sm:pb-0"
  >
    <div
      class="flex flex-col justify-center items-center sm:items-start gap-6 sm:gap-4 3xl:gap-8 translate-y-0 sm:translate-y-[8%]"
    >
      <h1
        set:html={content.title}
        class="text-white text-[32px] sm:text-[60px] 3xl:text-[80px] leading-[110%] font-medium capitalize font-title text-center sm:text-start animation-right"
      />
      <div class="flex justify-center items-center gap-4.5 animate-bounce">
        {
          content.buttons.map((button) => (
            <Button
              text={button.label}
              href={button.href}
              extraBtnClass={button.buttonColor}
              textClass={button.textColor}
            />
          ))
        }
      </div>5
      <div class="w-64.25 h-px bg-white animation-right"></div>
      <div class="flex jutify-start itmes-center gap-14 animation-right">
        {
          content.stadistic.map((item) => (
            <div class="flex flex-col justify-center items-start gap-1">
              <h4 class="text-secondary text-[24px] font-bold leading-[150%]">{item.title}</h4>
              <p class="text-white text-[14px] font-normal leading-[150%] uppercase">
                {item.description}
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
