---
type Translations = typeof import('../i18n/en').default;
type SolutionsContent = Translations['servicesPage']['solution'];
interface Props {
  content: SolutionsContent;
}
const { content } = Astro.props as Props;
---
<>
<div class="flex flex-col justify-center items-center gap-4">
      <h2 class="text-primary text-[56px] font-medium leading-[110%] capitalize font-title text-center" set:html={content.title}></h2>
      <div class="w-21.5 h-1.5 rounded-sm bg-secondary"></div>
    </div>
    <div class="w-full grid grid-cols-4 justify-center items-center gap-x-6 gap-y-8.75">
      {
        content.items.map((item)=>( 
          <div class="w-full flex flex-col justify-center items-center overflow-hidden">
            <div class="w-full h-auto aspect-282/180 relative rounded-t-3xl overflow-hidden">
              <img src={`/images/${item.image}.webp`} alt={item.title} width="282" height="180" class="w-full h-full absolute inset-0 object-cover object-center"/>
            </div>
            <div class="flex flex-col justify-center items-start p-8 gap-2 bg-secondary/5 box-border border-b border-l border-r border-secondary/15 w-full rounded-b-3xl">
              <h3 class="text-primary text-[14px] font-bold leading-[150%]">{item.title}</h3>
              <p class="text-paragraph text-[14px] leading-[150%] font-normal">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
</>