---
import Button from '../components/Button.astro';

type Translations = typeof import('../i18n/en').default;
type HeroContent = Translations['servicesPage']['hero'];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex items-center justify-center relative overflow-hidden">
  <img src={`/images/${content.img}.webp`} alt={content.title} width="2100" height="1358" class="absolute inset-0 w-full h-full object-cover object-[50%_50%] -z-20 " loading="eager"
    decoding="async">
  <div class="w-full max-w-screen md:max-w-7xl flex flex-row justify-start items-center px-5 xl:px-0 h-dvh md:h-[90vh] lg:h-screen ">
    <div class="flex flex-col justify-center items-start gap-4 3xl:gap-8 translate-y-[8%]">
      <h1 set:html={content.title} class="text-white text-[60px] 3xl:text-[80px] leading-[110%] font-medium capitalize font-title"></h1>
      <p class="text-white text-[16px] font-normal leading-[150%]" set:html={content.description}></p>
      <div class="flex justify-center items-center gap-4.5">
        {
          content.buttons.map((button)=>( 
            <Button text={button.label} href={button.href} extraBtnClass={button.buttonColor} textClass={button.textColor}/>
          ))
        }
      </div>
      <div class="w-64.25 h-px bg-white"></div>
      <div class="flex jutify-start itmes-center gap-14">
        {
          content.stadistic.map((item)=>( 
            <div class="flex flex-col justify-center items-start gap-1">
              <h4 class="text-secondary text-[24px] font-bold leading-[150%]">{item.title}</h4>
              <p class="text-white text-[14px] font-normal leading-[150%] uppercase">{item.description}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>