---
import Button from "../../components/Button.astro";

type Translations = typeof import("../../i18n/en").default;
type HeroContent = Translations["main"]["hero"];
interface Props {
  content: HeroContent;
}
const { content } = Astro.props as Props;
---

<section class="w-full flex items-center justify-center relative overflow-hidden">
  <img
    src={`/images/${content.imageHero}.webp`}
    alt={content.title}
    width="2100"
    height="1358"
    class="hidden sm:block absolute inset-0 w-full h-full object-cover object-bottom -z-20"
    loading="eager"
    decoding="async"
  />
  <img
    src={`/images/${content.imagePhone}.webp`}
    alt={content.title}
    width="375"
    height="812"
    class="block sm:hidden absolute inset-0 w-full h-full object-cover object-bottom -z-20"
    loading="eager"
    decoding="async"
  />
  <div
    class="w-full max-w-screen md:max-w-7xl flex flex-row justify-center sm:justify-start items-end sm:items-center px-5 xl:px-0 h-dvh md:h-[90vh] lg:h-screen pb-10 sm:pb-0 "
  >
    <div class="flex flex-col justify-center items-center sm:items-start gap-6 sm:gap-4 3xl:gap-8 translate-y-0 sm:translate-y-[8%] ">
      <div class="aspect-121/68 w-full h-auto max-w-100 3xl:max-w-125 bg-white animation-right"></div>
      <h1
        set:html={content.title}
        class="text-white text-[32px] sm:text-[56px] 3xl:text-[64px] leading-[110%] font-medium capitalize font-title text-center sm:text-start animation-right"
      />
      <p class="text-white text-[24px] sm:text-[28px] 3xl:text-[32px] font-bold leading-[150%] animation-right text-center sm:text-start">
        {content.description}
      </p>
      <div class="flex justify-center items-center gap-4.5  animate-bounce">
        {
          content.buttons.map((button) => (
            <Button
              text={button.label}
              href={button.href}
              extraBtnClass={button.buttonColor}
              textClass={button.textColor}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
