---
type Translations = typeof import('../../i18n/en').default;
type SolutionsContent = Translations['main']['solutions'];
interface Props {
  content: SolutionsContent;
}
const { content } = Astro.props as Props;
---
<section class="w-full flex flex-col justify-center items-center py-20 max-w-screen xl:max-w-7xl px-5 xl:px-0 gap-24">
  <div class="w-full flex justify-center items-center gap-14">
    <div class="w-[52%] flex flex-col justify-center items-start gap-10">
      <div class="w-full flex flex-col justify-center items-start gap-4">
        <div class="py-1 px-3 flex justify-center items-center rounded-2xl bg-secondary/10">
          <p class="text-primary text-[14px] font-semibold leading-[150%] uppercase text-center">{content.section1.tag}</p>
        </div>
        <h2 class="text-primary text-[56px] font-medium leading-[110%] capitalize font-title" set:html={content.section1.title}></h2>
      </div>
      <div class="flex justify-center items-center gap-10">
        {
          content.section1.items.map((item)=>( 
            <div class="flex justify-center items-center gap-4"> 
              <div class="w-10 h-10 rounded-lg bg-secondary/10 flex justify-center items-center">
                <img src={`/images/${item.icons}.svg`} alt={item.title} width="48" height="48" class="w-6 h-auto"/>
              </div>
              <div class="flex flex-col justify-center items-start">
                <h3 class="text-primary text-[14px] font-bold leading-[150%] uppercase">{item.title}</h3>
                <p class="text-paragraph text-[14px] leading-[150%] font-normal">{item.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
    <div class="w-[48%] flex flex-col justify-center items-start gap-4 py-13.75 px-12 bg-secondary/5 border border-secondary/15 rounded-3xl">
      <h3 class="text-primary text-[16px] font-bold leading-[150%] capitalize">{content.section1.description.title}</h3>
      <p class="text-paragraph text-[14px] leading-[150%] font-normal">{content.section1.description.content}</p>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center gap-16">
    <div class="flex flex-col justify-center items-center gap-4">
      <h2 class="text-primary text-[56px] font-medium leading-[110%] capitalize font-title text-center" set:html={content.section2.title}></h2>
      <div class="w-21.5 h-1.5 rounded-sm bg-secondary"></div>
    </div>
    <div class="w-full grid grid-cols-4 justify-center items-center gap-x-6 gap-y-8.75">
      {
        content.section2.items.map((item)=>( 
          <div class="w-full flex flex-col justify-center items-center overflow-hidden">
            <div class="w-full h-auto aspect-282/180 relative rounded-t-3xl overflow-hidden">
              <img src={`/images/${item.image}.webp`} alt={item.title} width="282" height="180" class="w-full h-full absolute inset-0 object-cover object-center"/>
            </div>
            <div class="flex flex-col justify-center items-start p-8 gap-2 bg-secondary/5 box-border border-b border-l border-r border-secondary/15 w-full rounded-b-3xl">
              <h3 class="text-primary text-[14px] font-bold leading-[150%]">{item.title}</h3>
              <p class="text-paragraph text-[14px] leading-[150%] font-normal">{item.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>